.middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 60vh;

  padding: 40px 20px;

  background-image:
    linear-gradient(
      rgba(7, 100, 221, 0.85),
      rgba(38, 125, 238, 0.85)
    ),
    url("../../assets/download.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-sizing: border-box;
}
.middle-text {
  color: #ffffff;
  text-align: center;

  font-size: 9rem;
  line-height: 1.6;

  max-width: 800px;
}
.jj {
    margin: 0;
    color: #ffffff;
    font-size: 2rem;
}
button {
  font-size: 1.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
}
button:hover {
  background-color: #4b63eb;
  color: #267dee;
}