/* FOOTER WRAPPER */
.footer-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  align-items: start; /* all columns aligned top */
  gap: 30px;
  padding: 50px;
  background: #0b1220;
  color: #ffffff;
}

/* EACH COLUMN */
.footer-column {
  display: flex;
  flex-direction: column;
}

/* LOGO */
.footer-logo {
  width: 140px;
  margin-bottom: 16px;
}

/* HEADINGS */
.footer-column h3 {
  margin: 16px 0 10px;
  color: #f7f7f7;
}
p{
    color: #fff;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  gap: 14px;
  margin-top: 8px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #00bfff;
}

/* SERVICES LIST */
.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 6px;
}

/* PROJECT IMAGES GRID - 4 ROWS */
.footer-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 images per row */
  grid-template-rows: repeat(4, 80px);  /* 4 rows, fixed height */
  gap: 8px;
  overflow: hidden;
}
h3{
    color: rgb(250, 252, 252);
}
h5{
    color:  rgb(252, 255, 255);
    text-align: center;
    font-size: 20px;
}
p{
    text-align: center;
}

.footer-images img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* maintain aspect ratio */
  border-radius: 6px;
}

